.contact-content {
    padding: 0 10px;
    text-align: center;   
}

.call-to-action {
    margin: 0 10%;
    line-height: 1.6;
    font-size: 1.1em;
    
    @include tablet {
        text-align: left;
    }
}

.contact-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 10px;
    font-size: 1.1em;
    
        &:last-child {
             margin-bottom: 40px;
             
             @include tablet {
                 margin-bottom: 0;
             }   
        }
}

.contact-item span {
    display: flex;
    align-items: center;
}

.contact-item .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 0;
}


.contact-item a {
    color: $text-blue;
    transition: all .5s ease;
    
        &:hover {
            color: $orange;
        }
}

.contact-group {
    margin-top: 30px;
    padding: 0 5px;
    
    @include tablet {
        margin: 50px 30% 0;
        padding: 0;
    }
}
