.contact-content {
    padding: 0 10px;
    text-align: center;
}

.contact-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 10px;
}

.contact-item span {
    display: flex;
    align-items: center;
}

.contact-item .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 0;
}

.contact-item:last-child {
    margin-bottom: 40px;
}

.contact-item a {
    color: $text-blue;
    transition: all .5s ease;
}

.contact-item a:hover {
    color: $orange;
}
