header {
    display: inline-block;
    text-align: left;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 910px;
    background-color: $white;
    box-shadow: 0 3px 3px -3px $light-grey;
    z-index: 2;
    margin: 0 auto;
    height: 110px;
    
    @include tablet {
        display: flex;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
    }
}

/*MOBILE NAV*/

#hamburger {
    display: inline-block;
    font-size: 25px;
    color: $light-grey;
    cursor: pointer;
    float: right;
    padding:  15px;
}

#mobile-nav {
    height: auto;
    width: 100%;
    text-align: center;
    font-family: $stack-titles;
    text-transform: uppercase;
    box-shadow: 0 3px 3px -3px $light-grey;
    position: fixed;
    top: 110px;
    left: 50%;
    margin-left: -50%;
    z-index: 2;
    background-color: rgba(59, 75, 81, 0.95);
    opacity: .95;
}

#mobile-nav li {
    padding: 10px;
    transition: all .5s ease;
    
        &:first-child {
            padding-top: 15px;
        }
        
        &:last-child {
            padding-bottom: 15px;
        }
        
        &:hover {
            background-color: $orange;
        }
}

#mobile-nav li a {
    padding: 20px 100px;
    color: $white;
}

/*end mobile nav*/

.name a {
    font-family: $stack-script;
    font-size: 1.5em;
    color: $light-grey;
    font-weight: lighter;
    float: left;
    padding-left: 15px;
    
    @include tablet {
        padding-left: 0;
    }
}

nav {
    display: none;

    @include tablet {
        display: block;
        background-color: transparent;
        margin-bottom: 0;
    }
}

nav a {
    font-family: $stack-titles;
    text-transform: uppercase;
    padding: 10px;
    color: $light-grey;
    transition: all .6s ease;
    
    @include tablet {
        padding: 20px;
    }
    
    &:last-child {
        padding-right: 0;
    }
    
    &:hover {
        color: $orange;
    }
    
}

/*HERO IMAGES*/

.hero-index {
    background: url('../img/codehero2.jpg') no-repeat center;
    background-size: cover;
    height: 250px;
    
    @include tablet {
        height: 350px;
    }
    
    @include desktop {
        height: 450px;
    }
    
}

.hero-about {
    background: url('../img/runner.jpg') no-repeat 30% bottom;
    background-size: cover;
    height: 250px;
    position: relative;
    
    @include desktop {
        height: 300px;
    }    
}

.hero-contact {
    background: url('../img/social.jpg') no-repeat top;
    background-size: cover;
    height: 250px;
    position: relative;

    @include desktop {
        height: 300px;
    }  
}

.hero-index p {
    display: block;
    font-size: 1.2em;
    color: $white;
    text-align: center;
    line-height: 1.6;
    padding: 90px 15px 0;
    margin-top: 0;
    
        @include tablet {
            font-size: 1.8em;
            margin: 0 60px;
            padding-top: 17%;
        }
        
        @include desktop {
            font-size: 2em;
            margin: 0 75px;
            padding-top: 20%;
        }
}



