.btn-outline {
    border: 2px solid $light-grey;
    color: $light-grey;
    background-color: transparent;
    border-radius: 20px;
    font-family: $stack-body;
    font-size: .9em;
    display: block;
    margin: 35px auto 25px;
    padding: 5px 10px;
    transition: all .6s ease;
    
    @include tablet {
        margin-top: 20px;
    }
    
}

.btn-outline:hover {
    border-color: $orange;
    color: $orange;
}

.skills-section .btn-outline {
    margin-top: 25px;
}
