.icon {
    width: 45px;
    height: 45px;
    margin: 0 15px;
    fill: $white;
    transition: all .5s ease-in-out;
}

.icon:hover {
    fill: $orange;
}

.fa-long-arrow-right {
    margin-left: 8px;
    font-size: 1.1em;
}