/* ================================= 
  General Styles
==================================== */

* {
	box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: $stack-body;
    font-size: 1em;
    line-height: 1.4;
    color: $dark-grey;
    height: 100%;
    padding: 0;
}

a {
    text-decoration: none;
    transition: all .3s ease-in-out;
    color: $dark-grey;
    font-weight: bold;
}

a:visited {
    color: $light-grey;
}

a:hover {
    color: $orange;
}

.wrapper {
    min-height: 100%;
    padding-top: 145px;
    margin: 0 auto -200px;
    
    @include tablet {
        padding-top: 110px;
    }

    @include desktop {
        padding: 110px 20px 0;
        max-width: 950px;
        margin: 0 auto;
    }
}
