/* ================================= 
  General Styles
==================================== */

* {
	box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: $stack-body;
    font-size: 1em;
    line-height: 1.4;
    color: $dark-grey;
    height: 100%;
    padding: 0;
}

a {
    text-decoration: none;
    transition: all .3s ease-in-out;
    color: $dark-grey;
}

.active {
    color: $text-blue !important;
}

a:hover {
    color: $orange;
}

#overlay a {
    font-weight: 300;
    color: $white !important;
}

#overlay a:hover {
    color: $orange !important;
}

.wrapper {
    min-height: 100%;
    padding-top: 110px;
    margin: 0 auto -200px;
    
    @include tablet {
        padding-top: 110px;
    }

    @include desktop {
        padding: 110px 20px 0;
        max-width: 950px;
        margin: 0 auto;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

