/* ================================= 
  Colors
==================================== */

$light-blue: #BDE2F7;
$text-blue: #5BBEF7;

$orange: #ffB058;

$dark-grey: #3D4C51;
$light-grey: #6F838A;

$white: #fff;

